@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');


html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid black;
}

header h1 {
    margin-bottom: 0;
    font-family: 'Major Mono Display', Courier, monospace;
}

main {
    display: flex;
    height: 80%;
}

footer {
    text-align:end;
    padding-right: 100px;
    margin: 2rem 0;
    font-size: .8rem;
}

.game {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
    gap: 5vh;
}

.options {
    display: flex;
    flex: 1;
}

.weapon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    transition: transform .4s;
    border-radius: 3px;
}


.weapon img {
    width: 50%;
    width: 60%;
}

.options .weapon:hover {
    width: 50%;
    transform: scale(1.1);
    box-shadow: 0px 10px 10px rgba(167, 167, 167, 0.5);
}

#result {
    width: 40%;
    flex: 0, 0, auto;
    margin-left: 20px;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;    
    font-family: 'Major Mono Display', Courier, monospace;
    font-size: 3rem;
}

.versus {
    font-family: 'Major Mono Display', Courier, monospace;
    text-align: center;
    font-size: 2rem;
    margin: 1rem 0;

}

#computer-selection {
    display: flex;
    flex-direction: column;
    color: white;
    flex: 1;
    width: 100%;
    background-color: black;
}

#computer-selection img {
    width: 20%;
    filter: invert(100%);
}

#computer-selection .weapon {    
    animation: fadeInAnimation ease 1.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 1;
     }
}